body {text-align: center; background-color:rgb(57, 54, 54); color: white;}

h1 {font-family: 'Times New Roman', Times, serif;}

.fundovermelho {background-color: rgb(188, 53, 53); color: rgb(57, 54, 54);}