body{
    background: linear-gradient(180deg,#594cee 0%,#8dd0f5 100%)no-repeat;
    background-color: black;
    color: white;
    font-size: 18px;

}


button{
     text-align: center;
     cursor: pointer;

 }

 *{
   padding: 0;
   margin: 0;
   font-family: "Ubuntu",sans-serif;

 }