body {background-color: rgb(57, 54, 54) ; color: white; text-align: center; border: 2px solid white;}
div {font-family: 'Times New Roman', Times, serif; color: white;  border: 2px solid white;}
.fundocinza {background-color: rgb(57, 54, 54); color: rgb(188, 53, 53);}
.fundovermelho {background-color: rgb(188, 53, 53); color: rgb(57, 54, 54);}
